Это проект  Laravel. Система api для управления базой данных проекта Sportrep. Проект представляет собой систему управления анонсов о спортивных мероприятиях. Здесь есть сущности: вид спорта, тип вида спорта (летние, олимпийские и т.п.)мероприятие (матч или соревнование), команда, статья, стрим. Цель проекта - создать систему для управления анонсами о спортивных мероприятиях, для привлечения зрителей на эти мероприятия.











